{% set url = app.request.pathInfo %}
{% set meranie = url == '/smo/rm' %}
{% set dispecing = (url == '/disp/scztv'
    or url == '/disp/scztz'
    or url == '/disp/vco') %}
{% set kontroling = url == '/kont/sct' %}
{% set uctovnictvo = url == '/uct/dp' %}
{% set projekty = url == '/projekty' %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {# Úvod #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUvod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Úvod
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUvod">
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_uvod_hlasenia-pm.php">Hlásenia modulu PM</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_uvod_majetkove-karty.php">Majetkové karty</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_uvod_prevodka.php">Hromadná prevodka</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_uvod_meteorologicke-udaje.php">Meteorologické údaje</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://192.168.20.19/ProCopWeb/ProWeb.dll/Display">ProCop Web</a>
                    <a class="dropdown-item" href="https://192.168.20.107/">Zmena hesla do PCS7</a>
                    <a class="dropdown-item" href="http://dispecer-dts:8080/">Dispečing teplárenských sústav</a>
                    <a class="dropdown-item" href="http://fabasoft/fsc">Fabasoft</a>
                    <a class="dropdown-item" href="http://i-portal/LZ/SitePages/Domov.aspx">I - Portal</a>
                    <a class="dropdown-item" href="http://gisapp02-vi/GIS-iTS-Client/index.jsp">GIS - Tenký klient</a>
                    <a class="dropdown-item" href="file://app01-vi/Obchod/BATAS.Viewer.exe">Digitálny archív obchodu</a>
                    <a class="dropdown-item" href="http://192.168.3.12/aw2/">Dochádzka</a>
                    <a class="dropdown-item" href="http://ibatas/intranet">Intranet</a>
                </div>
            </li>

            {# Meranie a odpočty #}
            <li class="nav-item dropdown {% if meranie %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMeranie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Meranie a odpočty
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMeranie">
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_denne-a-mesacne-odpocty.php">Plnenie a správa odpočtov</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_manualne-nahravanie.php">Odpočtový hárok</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_vyhladavanie-meradiel.php">Vyhľadávanie meradiel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_chybajuce-v-prosql.php">Chýbajúce meradlá v ProSQL</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_kontroly-procop-vlastne-ost.php">Kontroly - ProCop (Vlastné OST)</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_kontroly-procop-cudzie-ost.php">Kontroly - ProCop (Cudzie OST)</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_kontroly-radio-kamstrup.php">Kontroly - Rádio (Kamstrup)</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_smao_kontroly-harky.php">Kontroly - Odpočtový hárok</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={{ path('report-meracov') }}>Report meračov</a>
                </div>
            </li>

            {# Riadiace informačné systémy #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Riadiace systémy
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownRis">
                    {#<a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_celkovy-vykon-sustav.php">Celkový výkon sústav</a>#}
                    {#<a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_celkovy-odber-tepla-zo-sustav.php">Celkový odber tepla zo sústav</a>#}
                    {#<a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_vykon-odber-sustav.php">Celkový výkon + odber tepla zo sústav</a>#}
                    {#<div class="dropdown-divider"></div>#}
                    <a class="dropdown-item disabled" href="#">Servisné zásahy a poruchy</a>
                    <a class="dropdown-item disabled" href="#">Profylaktické kontroly</a>
                    <a class="dropdown-item disabled" href="#">Harmonogram kontrol</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_wincc-bat.php">Klient WinCC - BAT</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_wincc-tpv.php">Klient WinCC - TpV</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_wincc-tpz.php">Klient WinCC - TpZ</a>
                </div>
            </li>

            {# Energetická efektívnosť #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Energetická efektívnosť
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownEe">
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ee_denny-plan-prevadzky.php">Denný plán prevádzky</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Denné údaje - výroba a spotreba zdrojov</a>
                    <a class="dropdown-item disabled" href="#">Denné údaje - dodávka tepla</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Mesačné údaje - výroba a spotreba zdrojov</a>
                    <a class="dropdown-item disabled" href="#">Mesačné údaje - dodávka tepla</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Energetické bilancie - katalóg výrobných zariadení</a>
                    <a class="dropdown-item disabled" href="#">Energetické bilancie - plánovanie výroby a odbytu</a>
                    <a class="dropdown-item disabled" href="#">Energetické bilancie - hodnotenie výroby a odbytu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Plánované ročné hodnoty</a>
                </div>
            </li>

            {# Dispečerské riadenie #}
            <li class="nav-item dropdown {% if dispecing %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDispecing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dispečing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownDispecing">
                    <a class="dropdown-item" href={{ path('sczt-vychod') }}>SCZT Východ</a>
                    <a class="dropdown-item" href={{ path('sczt-zapad') }}>SCZT Západ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_ost-diferencny-tlak-trendy-tpv.php">Diferenčný tlak OST východ</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ris_ost-diferencny-tlak-trendy-tpz.php">Diferenčný tlak OST západ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_ee_plan-prevadzky.php">Týždenný plán prevádzky</a>
                    <a class="dropdown-item disabled" href="#">Evidencia stavov OST a zdrojov</a>
                    <a class="dropdown-item disabled" href="#">Manipulácie na zdrojoch a zariadeniach</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('vychladenie-ost') }}">Vychladenie OST</a>
                </div>
            </li>

            {# Prevádzka #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrevadzka" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prevádzka
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPrevadzka">
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_disp-dennik-cinnosti-tpv.php">Denník prevádzky TpV - Nový záznam</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_disp-dennik-cinnosti-zoznam-tpv.php">Denník prevádzky TpV - Zobrazenie údajov</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_prevadzka_rozvod-tepla-vychod.php">Denník rozvodu tepla východ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_disp-dennik-cinnosti-tpz.php">Denník prevádzky TpZ - Nový záznam</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_disp-dennik-cinnosti-zoznam-tpz.php">Denník prevádzky TpZ - Zobrazenie údajov</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_disp-dennik-cinnosti-vhj.php">Denník prevádzky VhJ - Nový záznam</a>
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_disp-dennik-cinnosti-zoznam-vhj.php">Denník prevádzky VhJ - Zobrazenie údajov</a>
                </div>
            </li>

            {# Kontroling #}
            <li class="nav-item dropdown {% if kontroling %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownKontroling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kontroling
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownKontroling">
                    <a class="dropdown-item" href="http://zeusprod-vi/tip/zone_kont_navrh-ceny-tepla.php">Príprava návrhu ceny tepla</a>
                    <a class="dropdown-item" href="{{ path('skutocna-cena-tepla') }}">Výpočet skutočnej ceny tepla</a>
                    <a class="dropdown-item disabled" href="#">Vyhodnotenie ceny tepla</a>
                </div>
            </li>

            {# Účtovníctvo #}
            <li class="nav-item dropdown {% if uctovnictvo %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownKontroling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Účtovníctvo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownKontroling">
                    <a class="dropdown-item" href="{{ path('danove-priznanie') }}">Daňové priznanie</a>
                </div>
            </li>

            {# Projekty a úlohy, vývoj aplikácií #}
            <li class="nav-item {% if projekty %}active{% endif %}">
                <a class="nav-link" href="{{ path('projekty') }}">Projekty&nbsp;<i class="fa fa-tasks"></i></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {# Search box #}
            {#<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Hľadať...">
            </form>#}

            {# Užívateľ #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if is_granted('ROLE_ADMIN') %}
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                    {% elseif is_granted('ROLE_VIP') %}
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    {% endif %}
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    {{ app.user.fullname }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                    <div class="navbar-login navbar-login-title">
                        <div class="row">
                            <div class="col-3">
                                <div class="text-center navbar-login-icon">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <div><strong class="text-left">{{ app.user.fullname }}</strong></div>
                                <span class="text-left text-muted small">{{ app.user.mail }}</span><br>
                                <span class="small"><em>{{ app.user.title }}</em></span><br>
                                <span class="small">{{ app.user.department }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="navbar-login navbar-login-settings">
                        <div class="row">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-12">
                                    <a href="{{ path('admin') }}" class="btn btn-primary btn-block mb-2">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        Nástroje na správu portálu
                                    </a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_VIP') %}
                                <div class="col-sm-12 col-md-6">
                                    <a href="http://zeusprod-vi/tip/zone_admin_attendance.php" class="btn btn-sm btn-info btn-block mb-1">
                                        <i class="fa fa-id-card" aria-hidden="true"></i>
                                        Attendance
                                    </a>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <a href="http://zeusprod-vi/tip/zone_admin_access-log.php" class="btn btn-sm btn-info btn-block mb-1">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Denník prístupov
                                    </a>
                                </div>
                            {% endif %}
                            <div class="col-12 navbar-login-roles">
                                {% for role in app.user.roles %}
                                    {% if role.id is defined %}
                                        <span class="badge badge-secondary my-tooltip"
                                              data-toggle="tooltip"
                                              data-placement="bottom"
                                              title="{{ role.description }}">
                                        {{ role.name }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>