{{ form_start(formGrants, {
    'attr': {
        'class': 'form-inline js-new-form',
        'novalidate': 'novalidate',
        'data-url': path('admin_grants_new'),
    }
}) }}
    {{ form_errors(formGrants) }}

    {{ form_row(formGrants.roles, {
        'label': 'Rola',
        'label_attr': {'class': 'sr-only'},
        'attr': {
            'class': 'mr-2',
        },
    }) }}

    {{ form_row(formGrants.users, {
        'label': 'Užívateľ',
        'label_attr': {'class': 'sr-only'},
        'attr' : {
            'class': 'mr-2',
        },
    }) }}

<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Udeliť prístup</button>
{{ form_end(formGrants) }}