{{ form_start(formRole, {
    'attr': {
        'class': 'form-inline js-new-form',
        'novalidate': 'novalidate',
        'data-url': path('admin_roles_new'),
    }
}) }}
    {{ form_errors(formRole) }}

    {{ form_row(formRole.id, {
        'label': 'ID',
        'label_attr': {'class': 'sr-only'},
        'attr': {
            'class': 'mr-2',
            'placeholder': 'ID',
            'maxlength': '3',
            'style': 'width: 4rem',
        },
    }) }}

    {{ form_row(formRole.name, {
        'label': 'Názov',
        'label_attr': {'class': 'sr-only'},
        'attr': {
            'class': 'mr-2',
            'placeholder': 'Názov',
            'style': 'width: 6rem',
        },
    }) }}

    {{ form_row(formRole.role, {
        'label': 'Rola',
        'label_attr': {'class': 'sr-only'},
        'attr': {
            'class': 'mr-2',
            'placeholder': 'Rola',
            'style': 'width: 6rem',
        },
    }) }}

    {{ form_row(formRole.description, {
        'label': 'Popis',
        'label_attr': {'class': 'sr-only'},
        'attr': {
            'class': 'mr-2',
            'placeholder': 'Popis',
            'style': 'width: 10rem',
        },
    }) }}

<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Pridať rolu</button>
{{ form_end(formRole) }}