{% extends 'base.html.twig' %}

{% set title = 'Admin rozhranie' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <p>
            <small>
                <em>PHP Thread-Safe | VC11</em>
            </small>
        </p>

        <div class="row">
            <div class="col">
                <div id="admin"></div>
            </div>
        </div>

        {#https://github.com/1up-lab/OneupUploaderBundle/issues/143#}
        <div id="uploader" data-endpoint="{{ oneup_uploader_endpoint('admin') }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}