{% extends 'base.html.twig' %}

{% set title = 'Doplňovanie do siete' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/ds.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col">
                <div id="doplnovanie-siet"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/ds.js') }}"></script>
{% endblock %}