{% extends 'base.html.twig' %}

{% set title = 'Denné dispečerské hlásenie - Zdroje a HV' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/ddhhv.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col">
                <div id="ddh-hv"></div>
            </div>
        </div>

        {#https://github.com/1up-lab/OneupUploaderBundle/issues/143#}
        <div id="uploader" data-endpoint="{{ oneup_uploader_endpoint('dispecing') }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/ddhhv.js') }}"></script>
{% endblock %}